.PictureDetails {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.Picture {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.PictureInfo {
  border: 1px solid gray;
  padding: 1rem;
}

@media (max-width: 767px) {
  .PictureDetails {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Col2 {
    flex: 2;
  }
  .PictureInfo {
    flex: 1;
  }
  .PictureDetails {
    max-height: calc(100vh - 3.5rem);
  }
}
